/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #34568b;
}
form{
    /* width: 80%; */
    margin: 2rem auto;
}
form input{
    border-radius: 4px;
    /* width: 15%; */
    background: white;
    display: block;
    margin: 11px auto;
    padding: 9px 11px;
}
h4{
    font-size: 2rem;
    color: white;
    text-align: center;
}