/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #4d00ffd6, #f3beef);
}

.container {
  width: 100%;
  min-height: 100vh;
}

#h1 {
  padding: 2rem 0;
  font-family: 'Rampart One', cursive;
}

.heading {
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-shadow: 2px 1px black;
  text-align: center;
  padding: 1rem 0;
}

form {
  margin: 2rem auto;
}

form input {
  border-radius: 7px;
  background: white;
  display: block;
  /* margin: 11px 0px; */
  margin-top: 24px;
  margin-bottom: 4px;
  padding: 9px 11px;
  font-family: 'Oxygen', sans-serif;
  outline: none;
}

.inputWrap {
  display: flex;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inputWrap label {
  width: 141px;
  font-size: 1.2rem;
  text-align: left;
}

.showRequired {
  visibility: hidden;
  font-family: 'Oxygen', sans-serif;
  color: #af0202;
  position: relative;
  left: 28px;
}

#btn {
  display: block;
  margin: 16px auto;
  border-radius: 7px;
  padding: 8px 58px;
  cursor: pointer;
  outline: none;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: 'Oxygen', sans-serif;
}

#error {
  color: red;
  text-shadow: 1px 1px black;
  text-transform: capitalize;
}

/* Focus-within & Hover */
form input:focus-within, #btn:focus-within, form input:hover {
  background: hsl(0, 0%, 83%);
}

/* Media Query is here */
@media only screen and (orientation:portrait) and (max-width:330px) {
  .inputWrap {
    flex-direction: column;
  }

  #btn {
    margin: 2rem auto;
    font-size: small;
  }
}